.expense-overview-window{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
  height: 55px;
  cursor: pointer;
}

.expense-overview{
  display: flex;
  flex-direction: row;
  // padding: 0px 5px 0px 0px;
  line-height: 18px;
  height: 55px;
  width: 100%;
  padding-left: 5px;
}

.expense-overview {
  text-align: center;
  vertical-align: middle;
}

.expenseIndex-desription {
  font-weight: bold;
  text-align: center;
  height: 55px;
  line-height: 55px;
}

.expense-overview img {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.all-expense-item-details{
  background-color: #f8f8f8;
  padding: 15px;
  box-shadow: inset 0 5px 7px -5px rgba(0, 0, 0, 0.25), inset 0 -3px 7px -5px rgba(0, 0, 0, 0.25);
  text-rendering: optimizeLegibility;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  line-height: 18px;
  color: #333333;
  display: flex;
  flex-direction: column;
  display: none;
}

.edit-expense-button{
  background: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #c83400;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.expense-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.expense-description {
  font-size: 16px;
}

.total-amount{
  // margin-top: -1px;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
}

.edit-by {
  margin-top: 3px;
  font-size: 12px;
  color: #999;
}

hr {
  margin: 5px 0;
  border: 0;
  // border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ddd;
}

.all-expense-item-details img {
  margin-right: 10px;
}

.split-datails {
  font-size: 13px;
}

.expense-date {
  display: flex;
  flex-direction: column;
  height: 55px;
  justify-content: center;
  // line-height: 55px;
  // text-align: center;
}

.expense-date-month {
  font-size: 10px;
  color:#999;
}

.expense-date-number {
  font-size: 20px;
  color: #999;
}

.payer-info {
  display:flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  width:100px;
}

.ower-info {
  display:flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  width:100px;
}

.payer-user-info{
  font-size: 12px;
  color: #aaa;
}

.payer-info strong {
  font-size: 16px;
}

.ower-uer-info{
  font-size: 12px;
  color: #aaa;
}

.ower-info strong {
  // color: #5bc5a7;
  font-size: 16px;
}

.expense-delete-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expense-delete-button {
  border: none;
  background-color: white;
  color: rgb(218, 9, 9);
  font-weight: bold;
  display: none;
}

.expense-delete-button-container {
  width: 40px;
  height: 55px;
}

.expense-overview-window:hover .expense-delete-button {
  font-size: 18px;
  display: inline-block;
  background-color: rgb(243, 243, 243);
}

.expense-overview-window:hover {
  background-color: rgb(243, 243, 243);
}

.expense-overview-window:hover .expenseIndex-desription{
  text-decoration: underline;
}

.expense-delete-button:hover {
  text-decoration: underline;
  background-color: rgb(243, 243, 243);
}

.enter-desciption::-webkit-input-placeholder{
   font-size: 20px;
   color: rgb(231, 230, 230);
   text-align: center;
}

.input_field {
  padding: 10px;

}

.currency-code-item::-webkit-input-placeholder{
  font-size: 23px;
  color: rgb(231, 230, 230);
}

select{
  border: 1px solid #bbb;
  border-radius: 15px;
  text-align: center;
}

.group-selector-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-people-selector{
  width: 30px;
  border: 1px dashed #ccc;
  margin-left: 5px;
  margin-right: 5px;
}
