.all-activities-container {
  display: flex;

}

.all-activities {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 100%;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  width: 50%;
  height: 1000px;
  background-color: white;
}

.all-activities-title{
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  width: 100%;
  position: relative;
  z-index: 9;
  background: #eee;
  border-bottom: none;
  border-bottom: 1px solid #ddd;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
}

.activity-index-item-container {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  line-height: 21px;
  min-height: 40px;
  position: relative;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

}

.activity-create-date {
  margin-top: 3px;
  font-size: 13px;
  color: #999;
  line-height: 14px;
  padding-left: 50px;
}

.activity-image {
  padding-right: 10px;
}