body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.dashboard-header {
  background-color: #1CC29F;
  color: #fff;
  border-bottom: 1px solid #ccc;
  height: 30px;
  display:flex;
  justify-content: space-between;
}

.dashboard-header a {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  // margin-left: -20px;
  float: left;
  font-family: 'Varela Round', sans-serif;
}

.header-notifications a{
  color: black;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  background-color: #1CC29F;
}

.header-logo a {
  float: left;
  font-weight: 200;
  color: white;
  font-size: 20px;
}


.header-logo:hover {
  background: #000;
}


// .header-list > li {
//   float: left;
//   // border-left: 1px solid #ccc;
// }

// .header-list > li:hover {
//   background: #1CC29F;
// }

/* PHASE 2: Notifications */

// .badge {
//   display: inline;
//   font-size: 14px;
//   padding: 1px 6px;
//   background: #000;
//   border-radius: 50%;
// }

// li:hover .badge {
//   background:#1CC29F;
// }

// .header {
//   position: relative;
//   z-index: 1;
// }

// .header-list > li {
//   position: relative;
// }

// .header-notifications {
//   display: none;
//   position: absolute;
//   left: -1px;
//   font-size: 14px;
//   white-space: nowrap;
//   background: #fff;
//   border-left: 1px solid #ccc;
//   border-right: 1px solid #ccc;
//   border-bottom: 1px solid #ccc;
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
//   overflow: hidden;
// }

// li:hover .header-notifications {
//   display: block;
// }

// .header-notifications > li {
//   border-top: 1px solid #ccc;
//   color: #000;
// }

// .header-notifications > li:hover {
//   background: #eee;
// }

.log-out-button {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  border: none;
  background-color:  #1CC29F;
  font-size: 15px;
}