.left-side-bar-list-container{
  display: flex;
  width: 400px;
  height: 512px;
  justify-content: flex-end;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.left_side_bar_list{
  width:50%;
  display: flex;
  flex-direction: column;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.left_side_bar_list  li {
  text-align: left;
  width: 96%;
  padding: 3px 8px 5px 5px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.left_side_bar{
  text-align: left;
  height: 512px;
  margin-left: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  position: relative;
  // z-index: 50;
  justify-items: right;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}



.left_side_bar span {
  // position: relative;
  margin-left: 5px;
  background: #f6f6f6;
  color: #ccc;
  font-size: 13px;
  margin-top: 5px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #eee;
  width: 300px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  height: 30px;
}


.dashboard a {
  font-size: 16px;
  color: #999;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }

.dashboard a:hover {
  font-size: 16px;
  color: #5bc5a7;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
 }


.activity {
  width: 153px;
  height: 19px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.activity a{
  font-size: 16px;
  color: #999;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }

.activity-list:hover {
  font-size: 16px;
  color: #5bc5a7;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.all {
  width: 153px;
  height: 19px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.all-expense-list:hover {
  font-size: 16px;
  color: #5bc5a7;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.all-expense-list{
    font-size: 16px;
    color: #999;
    // font-weight: bold;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }
  // .left_side_bar_list > li:hover{
  //   background-color: lightgrey;
  // }

.dashboard:hover,.activity:hover,.all:hover{
  background-color: lightgrey;
  }

.group-list li:hover{
  background-color: lightgrey;
  }

.friend-list li:hover{
  background-color: lightgrey;
  }

.meta-date {
  display: flex;
}

.meta-date img {
  padding-left: 5px;
}

.group-new-link {
  background: #f6f6f6;
  color: #ccc;
}