.session-form-error-messages{
  text-align: center;
  font-size: 15px;
  color:red;
  font-weight: bold;
}

.sign-up-button{
 cursor: pointer;
}

.login-button{
  cursor: pointer;
}

.demo-button{
  cursor: pointer;
}

.welcome-page img{
  width: 100%;
}