/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "./reset.scss";
@import "./components/dashboard_nav.scss";
@import "./components/modal.scss";
@import "./components/left_side_bar.scss";
@import "./components/user_profile_body.scss";

.header_main {
  display: flex;
  justify-content: space-between;
  ul {
     display: flex;
     align-items: center;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-left: 5px;
  // background-color: orange;
}

.login {
  color: #1CC29F;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
}

.signup {
  background-color: #1CC29F;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
}

.login_form_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  width: 30vw;
  font-family: 'Varela Round', sans-serif;
  
}

.login_form {
  display: inline-block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  width: 50vw;
  font-family: 'Varela Round', sans-serif;
}

.login_form_details > input {
  padding: 8px;
  border: 1px solid lightgray;
}

.login_form_details > label {
  padding: 8px;
}

.login_form_details > button {
  padding: 8px;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid lightgray;
}

.signup_form_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30pxx;
  margin: 0 auto;
  width: 30vw;
  font-family: 'Varela Round', sans-serif;

}

.signup_form_details > input {
  padding: 8px;
  border: 1px solid lightgray;
}

.signup_form_details > label {
  padding: 8px;
}

.signup_form_details > button {
  padding: 8px;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid lightgray;
  background-color: rgb(255, 101, 47);
  color: white;
}



.signup_form {
  display: inline-block;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 50vw;
  font-family: 'Varela Round', sans-serif;
}

.signup_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.login_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.demo-button {
  float: right;
}